mat-dialog-content {

  display: flex;
  flex-direction: column;

  button {
    margin: 8px;
  }

  loot-card {
    align-self: center;
  }

  mat-form-field {
    margin: 4px;
  }
}

.dialog-string {
  width: 100%;
  margin-top: 8px;
}

#file {
  display: none;
}
