@if (player) {
  <loot-list-info [name]="player.name">
    <div class="player-info" info>
      <div class="player-stats">
        @for (s of statTypes; track $index) {
          <div class="player-stat">
            <div class="stat-title">
              <mat-icon class="material-symbols-outlined">{{statToIcon(s)}}</mat-icon>
              <span class="mat-title-medium">{{stat[s]}}</span>
            </div>
            <div class="stat-parts">
              <div class="stat-part"
                [class.stat-value-good]="isGood[$index]"
                [class.stat-value-warn]="isWarn[$index]"
                [class.stat-value-bad]="isBad[$index]">
                <span class="mat-label-medium">Current:</span>
                <div class="stat-adjust">
                  <button mat-icon-button (click)="incStat(s, false, -1)"><mat-icon>remove</mat-icon></button>
                  <span class="stat-value">{{p.getCurrent(player, s)}}</span>
                  <button mat-icon-button (click)="incStat(s, false, 1)"><mat-icon>add</mat-icon></button>
                </div>
              </div>
              <div class="stat-part">
                <span class="mat-label-medium">Max:</span>
                <div class="stat-adjust">
                  <button mat-icon-button (click)="incStat(s, true, -1)"><mat-icon>remove</mat-icon></button>
                  <span class="stat-value">{{p.getMax(player, s)}}</span>
                  <button mat-icon-button (click)="incStat(s, true, 1)"><mat-icon>add</mat-icon></button>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
      <div class="loot-view-modes">
        <loot-list-info-button text="Character Loot" icon="bolt" (buttonPressed)="mode = m.ViewLoot" />
        <loot-list-info-button text="Add Loot" icon="add" (buttonPressed)="mode = m.AddLoot" />
        <loot-list-info-button text="Remove Loot" icon="remove" (buttonPressed)="mode = m.RemoveLoot" />
        <loot-list-info-button text="Delete Character" icon="person_remove" [isWarn]="true" (buttonPressed)="deletePlayer()" />
      </div>
    </div>
    <loot-list
      [buttonText]="modeToButtonText(mode)"
      [buttonIcon]="modeToButtonIcon(mode)"
      [canFilter]="mode === m.AddLoot"
      [hidden]="modeToHidden(mode)"
      [charged]="charged"
      (buttonPressed)="onSelect($event)" />
  </loot-list-info>
} @else {
  <not-found />
}
