.pool-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
  align-items: center;
  min-width: 280px;
}

.pool-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 280px;

  ::ng-deep p {
    margin: 0;
  }
}

.loot-view-modes {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
