.pool-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
  align-items: center;
  min-width: 280px;
}

.loot-view-modes {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
