@if (pool) {
  <loot-list-info [name]="pool.name">
    <div class="pool-info" info>
      <div class="loot-view-modes">
        <loot-list-info-button text="Pool Loot" icon="grid_view" (buttonPressed)="mode = m.ViewLoot" />
        <loot-list-info-button text="Add Loot" icon="add" (buttonPressed)="mode = m.AddLoot" />
        <loot-list-info-button text="Edit Pool" icon="edit" (buttonPressed)="editPool()" />
        <loot-list-info-button text="Delete Pool" icon="tab_close" [isWarn]="true" [isDisabled]="!canDeletePool" (buttonPressed)="deletePool()" />
      </div>
    </div>
    <loot-list
      [buttonInfos]="modeToButtonInfos(mode)"
      [canFilter]="mode === m.AddLoot"
      [hidden]="modeToHidden(mode)"
      (buttonPressed)="onSelect($event)" />
  </loot-list-info>
} @else {
  <not-found />
}
