$card-w: 280px;

.loot-card {
  width: $card-w;

  @media(min-width: 768px) {
    min-height: $card-w;
  }

  &.loot-drained {
    background: repeating-linear-gradient(
      45deg,
      #e0e2ec,
      #e0e2ec 5%,
      #c4c6d0 5%,
      #c4c6d0 10%
    );
  }

  mat-card-title {
    margin-bottom: 6px;
    background-color: #faf9fd;
    border-radius: 8px;
    border: solid 1px #c4c6d0;
    width: calc($card-w - 36px);
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

    span.loot-name {
      padding: 4px 8px 4px 8px !important;
      max-width: calc($card-w - 36px - 50px);
      margin-bottom: 0;
    }

    mat-icon {
      margin: 2px 2px 0 0;
      padding: 4px;
      border-radius: 50%;

      &.weapon {
        background-color: rgb(242, 105, 137, 0.5);
      }
      &.clothing {
        background-color: rgb(160, 158, 187, 0.5);
      }
      &.magic-item {
        background-color: rgb(250, 227, 15, 0.5);
      }
      &.consumable {
        background-color: rgb(3, 206, 164, 0.5);
      }
    }
  }
  mat-card-subtitle {
    margin-bottom: 6px;
    background-color: #faf9fd;
    border-radius: 8px;
    width: fit-content;
    span.loot-subtitle-text {
      padding: 4px 8px 4px 8px !important;
    }
  }

  mat-card-content {
    margin: 0 16px 6px;
    background-color: #faf9fd;
    padding: 8px;
    border-radius: 8px;

    hr {
      color: #e0e2ec;
    }

    .loot-desc-header {
      margin: 0 0 8px 0;
    }

    .loot-basic,
    .loot-charged,
    .loot-description {
      display: flex;
      flex-direction: column;
      gap: 8px;

      margin-bottom: 8px;
    }
  }

  mat-card-footer {
    padding: 0 16px 16px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    align-items: end;

    button {
      flex-grow: 1;
    }
  }
}
