.loot-list {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.filter-drawer {
  display: flex;
  flex-direction: row;
  .loot-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 8px;
    width: 100%;

    .string-filters {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-grow: 0;
      justify-content: center;
      gap: 8px;
    }

    .category-filters {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-grow: 1;
      justify-content: center;
      gap: 8px;
    }

    .loot-filter-category {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 8px;
      border: solid 1px #e0e2ec;
      border-radius: 16px;
    }

    .loot-filter-string {
      margin-bottom: -20px; // account for hint text that we don't use
    }
  }
}

hr {
  margin: 8px;
  color: #e0e2ec;
}

.loot-drawer {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;

  .loots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: baseline;
    gap: 8px;
    padding: 8px;
    flex-grow: 1;
    overflow-y: auto;
    width: calc(100% - 16px);
  }
}
