mat-drawer-container {
  width: 100%;

  @media(min-width: 768px) {
    height: 100%;
    overflow-y: auto;
  }
}

mat-drawer {
  width: fit-content !important;
}

.filter-drawer {
  display: flex;
  flex-direction: row;
  height: 100%;
  .loot-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 8px;
    width: 272px;
    background-color: #faf9fd;

    .loot-filter-close {
      align-self: end;
    }

    .loot-filter-category {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: start;

      h4 {
        margin-bottom: 0;
      }
    }

    .loot-filter-string {
      margin-bottom: -20px; // account for hint text that we don't use
      width: 100%;
    }
  }

  hr {
    flex-grow: 0;
    margin: 8px 0;
    color: #e0e2ec;
  }
}

.loot-drawer {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
  width: 100%;

  .loot-filter-expand {
    margin: 8px;
    flex-shrink: 0;
  }

  .loot-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: baseline;
    gap: 8px;
    padding: 8px;
    flex-grow: 1;
    min-width: calc(272px + 2px); // filter width + hr
    overflow-y: auto;
    width: calc(100% - 16px);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

    &.thin-loot-list {
      width: calc(100% - 306px);
    }
  }
}
