<div class="loot-list">
  @if (canFilter) {
    <div class="filter-drawer">
      <div class="loot-filter">
        <div class="string-filters">
          <mat-form-field class="loot-filter-string" appearance="outline">
            <mat-label>Loot Name</mat-label>
            <input matInput type="text" [(ngModel)]="name">
            @if (name.length > 0) {
              <button matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>
          <mat-form-field class="loot-filter-string" appearance="outline">
            <mat-label>Loot Description</mat-label>
            <input matInput type="text" [(ngModel)]="description">
            @if (description.length > 0) {
              <button matSuffix mat-icon-button aria-label="Clear" (click)="description=''">
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>
        </div>
        <div class="category-filters">
          <div class="loot-filter-category">
            <span class="mat-title-small">Types:</span>
            <mat-chip-listbox [multiple]="true" [(ngModel)]="selectedTypes">
              @for (t of filterTypes; track $index) {
                <mat-chip-option selectable>
                  {{t}}
                </mat-chip-option>
              }
            </mat-chip-listbox>
          </div>
          <div class="loot-filter-category">
            <span class="mat-title-small">Sources:</span>
            <mat-chip-listbox [multiple]="true" [(ngModel)]="selectedSources">
              @for (s of filterSources; track $index) {
                <mat-chip-option selectable>
                  {{s}}
                </mat-chip-option>
              }
            </mat-chip-listbox>
          </div>
        </div>
      </div>
    </div>
    <hr/>
  }
  <div class="loot-drawer">
    <div class="loot-list" [class.thin-loot-list]="isFilterOpen">
      @for (l of loots; track l.name + $index) {
        <loot-card
          [hidden]="isLootHidden(l, $index)"
          [loot]="l"
          [isCharged]="charged && charged.length === loots.length ? charged[$index] : true"
          [buttonText]="indexOfArrOrString(buttonText, $index)"
          [buttonIcon]="indexOfArrOrString(buttonIcon, $index)"
          (select)="select.emit({name: $event, index: $index})" />
      }
    </div>
  </div>
</div>