<mat-card class="loot-card" [class.loot-drained]="hasCharged && !isCharged" appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <span class="loot-name mat-headline-small">{{loot.name}}</span>
      <mat-icon class="material-symbols-outlined" [ngClass]="typeToClass(loot.type)">{{typeToIcon(loot.type)}}</mat-icon></mat-card-title>
    <mat-card-subtitle>
      <span class="loot-subtitle-text mat-title-small">{{cardTraits}}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="hasDescription" class="loot-description mat-body-medium" [innerHtml]="descriptionHtml"></div>
    <div *ngIf="hasBasic">
      <span class="loot-desc-header mat-title-medium">Basic:</span>
      <div class="loot-basic mat-body-medium" [innerHTML]="basicHtml"></div>
    </div>
    <div *ngIf="hasCharged">
      <span class="loot-desc-header mat-title-medium">Charged:</span>
      <div class="loot-charged mat-body-medium" [innerHTML]="chargedHtml"></div>
    </div>
  </mat-card-content>
  <mat-card-footer *ngIf="buttonText.length > 0" class="loot-footer">
    <button mat-flat-button (click)="select.emit(loot.name)">
      <mat-icon class="material-symbols-outlined">{{buttonIcon}}</mat-icon>
      {{buttonText}}
    </button>
  </mat-card-footer>
</mat-card>
