@if (pool) {
  <div class="pool">
    <div class="pool-info">
      <span class="pool-name mat-headline-small">{{pool.name}}</span>
      <div class="loot-view-modes">
        <button class="loot-view-mode" mat-flat-button (click)="mode = m.ViewLoot">
          <mat-icon class="material-symbols-outlined">grid_view</mat-icon>
          Pool Loot
        </button>
        <button class="loot-view-mode" mat-flat-button (click)="mode = m.AddLoot">
          <mat-icon class="material-symbols-outlined">add</mat-icon>
          Add Loot
        </button>
        <button class="loot-view-mode" mat-flat-button (click)="mode = m.RemoveLoot">
          <mat-icon class="material-symbols-outlined">remove</mat-icon>
          Remove Loot
        </button>
        <button class="loot-view-mode mat-warn" mat-flat-button [disabled]="!canDeletePool" (click)="deletePool()">
          <mat-icon class="material-symbols-outlined">tab_close</mat-icon>
          Delete Pool
        </button>
      </div>
    </div>
    <hr>
    <loot-list
      [buttonText]="modeToButtonText(mode)"
      [buttonIcon]="modeToButtonIcon(mode)"
      [canFilter]="mode === m.AddLoot"
      [hidden]="modeToHidden(mode)"
      (select)="onSelect($event)" />
  </div>
} @else {
  <not-found />
}
